.repo-page-container {
  display: flex;
  color: black;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.repo-page-content {
  padding: 2rem;
}

.repo-description {
  font-size: 1.2rem;
  color: #555;
}

.repo-owner {
  font-style: italic;
  color: #777;
}

.upload-section, .file-list {
  margin-top: 2rem;
}

.file-item {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}